<nav class="navbar navbar-expand-md">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo.png" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">صفحه اصلی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">منو</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">وبلاگ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">تماس با ما</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">درباره ما</a>
        </li>
      </ul>
      <span class="material-icons me-auto"> person_outline </span>
      <span class="material-icons me-3"> favorite_border </span>
      <span class="material-icons me-3"> production_quantity_limits </span>
    </div> 
    <button id="menu-btn">
            <span class="material-icons">menu</span>
          </button>
  </div>
</nav>


<aside #aside>
        <button id="close-btn">
          <span class="material-icons">close</span>
        </button>
        <div class="sidebar">
          <a href="#" class="active">
           صفحه
          </a>
          <a href="#">
           منو
          </a>
          <a href="#">
            وبلاگ
          </a>
          <a href="#">
            تماس با ما
          </a>
          <a href="#">
            درباره ما
          </a>
    
        </div>
        <div class="py-5 icons">
        <span class="material-icons me-4"> person_outline </span>
      <span class="material-icons me-5"> favorite_border </span>
      <span class="material-icons me-5"> production_quantity_limits </span>

        </div>
      </aside>