<footer>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-9 content">
                <img src="../../../assets/img/logo.png" class="logo-img" alt="">
                <p>لذت صرف غذای سالم و اصیل ایرانی در محیطی درخور شان، یکی از حس‌هایی است که می‌تواند خستگی یک هفته سخت و پر دغدغه را رفع کند و انرژی مورد نیاز برای روزهای پیشرو رو برای ما فراهم سازد. ما در تهیه غذای با بیش از ۶۰ سال تجربه به همراه شش شعبه در استان های تهران، البرز و مازندران همواره افتخار داریم در محیطی اصیل بر پایه معماری و طراحی مدرن، متناسب با هر نوع سلیقه و ذائقه‌ای با تکیه بر مهارت آشپزان و مهمانداران آموزش دیده و امکانات رفاهی کم نظیر همچون، پارکینگ اختصاصی، سالن VIP، خانه بازی کودکان و … در قالب سالن های پذیرایی کلاسیک، آلاچیق در فضای باز مجزا و کافی شاپ، میزبان محافل دوستانه و کاری، جشن ها و مراسم های شما عزیزان باشیم تا اوقاتی خوش را در کنار یکدیگر تجربه نمایید.</p>
            <ul>
                <li><a href="#" class="active">صفحه اصلی</a></li>
                <li><a href="#">منو</a></li>
                <li><a href="#">وبلاگ</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">درباره ما</a></li>
            </ul>
            <div class="social-networks">
                <span class="material-icons">whatsapp</span>
                <span class="material-icons">polyline</span>
                <span class="material-icons">rss_feed</span>
                <span class="material-icons">email</span>
            </div>
         </div>
            <div class="col-md-3 img d-none d-md-block" style="position: absolute; left: 40px;">
               <img src="../../../assets/img/footer-img.png" class="w-100" width="300px">
            </div>
        </div>
    </div>
</footer>