<main>
  <section class="p-5 hero">
    <div class="container-fluid">
      <div class="row d-flex align-items-center p-5">
        <div class="col-md-6">
          <h1>غذا حاضر است!</h1>
          <h3 class="pt-2">مدعی بهترین غذای ایرانی در منطقه</h3>
          <p class="pt-3">
            سفارش دهید و در سریع ترین زمان ممکن در منزل تحویل بگیرید.
          </p>
          <div class="btn-actions">
            <button class="btn-signin">ثبت نام</button>
            <button class="btn-login me-2">ورود</button>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img src="../../../assets/img/hero.png" class="hero-img" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid buttom-hero">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 box-feature">
          <img src="../../../assets/img/box-feature-1.png" class="p-2" alt="" />
          <div>
            <h4>بهترین کیفیت</h4>
            <p>مرغوب ترین مواد اولیه در منطقه</p>
          </div>
        </div>
        <div class="col-md-3 box-feature">
          <img src="../../../assets/img/box-feature-2.png" class="p-2" alt="" />
          <div>
            <h4>بهترین قیمت</h4>
            <p>مناسب ترین قیمت در منطقه</p>
          </div>
        </div>
        <div class="col-md-3 box-feature">
          <img src="../../../assets/img/box-feature-3.png" class="p-2" alt="" />
          <div>
            <h4>بهترین طعم</h4>
            <p>خوش مزه ترین در منطقه</p>
          </div>
        </div>
        <div class="col-md-3 box-feature">
          <img src="../../../assets/img/box-feature-4.png" class="p-2" alt="" />
          <div>
            <h4>بهترین خدمات</h4>
            <p>بهترین خدمات در منطقه</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container menu py-5">
      <h2 class="text-center">منوی فروشگاه</h2>
      <div class="divider">
        <hr />
        <span class="material-icons">restaurant_menu</span>
        <hr />
      </div>

      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#entree"
            >غذای اصلی</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#Kebabs">کباب ها</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#stewed">خورشتی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#appetizer"
            >پیش غذا</a
          >
        </li>
      </ul>

      <div class="tab-content">
        <div id="entree" class="container tab-pane active">
          <br />
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-1.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">باقالی پلو با مرغ</p>
                    <small class="price">70,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-2.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">زرشک پلو با مرغ</p>
                    <small class="price">60,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-3.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">ته چین ویژه با مرغ</p>
                    <small class="price">60,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="Kebabs" class="container tab-pane fade">
          <br />
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-1.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">باقالی پلو با مرغ</p>
                    <small class="price">70,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-2.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">زرشک پلو با مرغ</p>
                    <small class="price">60,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-3.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">ته چین ویژه با مرغ</p>
                    <small class="price">60,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="stewed" class="container tab-pane fade">
          <br />
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-1.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">باقالی پلو با مرغ</p>
                    <small class="price">70,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-2.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">زرشک پلو با مرغ</p>
                    <small class="price">60,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-3.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">ته چین ویژه با مرغ</p>
                    <small class="price">60,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="appetizer" class="container tab-pane fade">
          <br />
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-1.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">باقالی پلو با مرغ</p>
                    <small class="price">70,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-2.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">زرشک پلو با مرغ</p>
                    <small class="price">60,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="../../../assets/img/products/p-3.jpg"
                    alt="Card image"
                    class="w-100"
                  />
                  <div class="card-body">
                    <p class="card-title">ته چین ویژه با مرغ</p>
                    <small class="price">60,000 تومان</small>
                    <div class="btn-actions">
                      <button class="add-to-cart">
                        <span class="material-icons">shopping_cart</span>اضافه
                        به سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="read-more p-5">
    <div class="container-fluid p-2">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 p-2 text-center">
          <img src="../../../assets/img/read-more.png" alt="" />
        </div>
        <div class="col-md-6">
          <h4>پخت توسط بهترین آشپزهای منطقه</h4>
          <p>
            ما از بهترین آشپزها استفاده میکنیم تا بهترین طعم را برای شما به
            ارمغان آوریم
          </p>
          <ul>
            <li>
              <span class="material-icons"> check_circle </span> تضمین طعم
              دلنشین
            </li>
            <li>
              <span class="material-icons"> check_circle </span>پخت و ارسال سریع
            </li>
            <li>
              <span class="material-icons"> check_circle </span>
              تضمین بهداشت هنگام پخت و ارسال
            </li>
          </ul>
          <a href="#"
            >بیشتر بخوانید<span class="material-icons"> chevron_left </span></a
          >
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container blog py-5">
      <h2 class="text-center">آخرین مطالب وبلاگ</h2>
      <div class="divider">
        <hr />
        <span class="material-icons">restaurant_menu</span>
        <hr />
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img
                class="card-img-top"
                src="../../../assets/img/b-1.jpg"
                alt="Card image"
                class="w-100"
              />
              <div class="card-body">
                <p class="card-title">خواص زردآلو و تاثیر آن بر سلامتی</p>
                <small class="price"
                  >زردآلو از میوه‌های نوبرانه فصل تابستان است که طعم و مزه
                  بی‌نظیری دارد. خواص و فوایدی که این میوه تابستانی</small
                >
                <div class="btn-actions">
                  <div class="date">5 فروردین ، 1401</div>
                  <a href="#">بیشتر</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <img
                class="card-img-top"
                src="../../../assets/img/b-3.jpg"
                alt="Card image"
                class="w-100"
              />
              <div class="card-body">
                <p class="card-title">طرز تهیه کال کباب</p>
                <small class="price"
                  >هر یک از غذاهای خطه سرسبز شمال عطر و طعم منحصر به‌فرد خود را
                  دارند که همگی به طرز عجیبی اشتها آور هستند.</small
                >
                <div class="btn-actions">
                  <div class="date">5 فروردین ، 1401</div>
                  <a href="#">بیشتر</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <img
                class="card-img-top"
                src="../../../assets/img/b-2.jpg"
                alt="Card image"
                class="w-100"
              />
              <div class="card-body">
                <p class="card-title">خواص انبه پادشاه میوه ها</p>
                <small class="price"
                  >انبه میوه جذاب و دوست‌داشتنی که هسته بزرگی دارد و یکی از
                  میوه‌های تابستانی به حساب می‌آید. خواص و طعم</small
                >
                <div class="btn-actions">
                  <div class="date">5 فروردین ، 1401</div>
                  <a href="#">بیشتر</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
