img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.27);
  transition: all 300ms ease;

  &:hover {
    opacity: 0.9;
  }
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  span {
    color: #ca131f;
  }
  hr {
    color: #ca131f;
    width: 10rem;
    opacity: 1;
  }
}

.content {
  h2 {
    font-size: 1.7rem;
  }

  .contact-item {
    div {
      display: flex;
      align-items: center;

      span {
        border-radius: 50%;
        border: 2px solid #ffc20f;
        padding: 5px;
        color: #ffc20f;
        margin-left: 10px;
      }
    }
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ca131f;
  }
}

.contact-form {
  h2 {
    font-size: 1.7rem;
  }

  form {
    margin: 2rem 0rem;
    padding: 4rem;
    background: #ca131f;
    border-radius: 10px;
    .form-label {
      color: #fff;
      font-size: 0.9rem;
    }
    input,
    textarea {
      font-size: 0.9rem;
      border: none;
      &::placeholder {
        color: #777;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
    button {
      margin-top: 1rem;
      background: #ffc20f;
      border: #ffc20f;
      width: 40%;
      margin-right: 30%;
      transition: all 300ms ease;
       &:focus {
        outline: none;
        box-shadow: none;
      }
      &:hover{
        -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.27); 
box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.27);
      }
    }
  }
}

@media screen and(max-width:480px) {
  .content{
    .contact-item{
      font-size: 0.9rem;
      span{
        font-size: 0.6rem;
      }
    }
  }
  .contact-form {
  h2 {
    font-size: 1rem;
  }
  }
}