<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-md-4 content">
        <h2 class="text-center">تهیه غذای رستوران</h2>
        <div class="divider">
          <hr />
          <span class="material-icons">restaurant_menu</span>
          <hr />
        </div>
        <p>
          لذت صرف غذای سالم و اصیل ایرانی در محیطی درخور شان، یکی از حس‌هایی است
          که می‌تواند خستگی یک هفته سخت و پر دغدغه را رفع کند و انرژی مورد نیاز
          برای روزهای پیشرو رو برای ما فراهم سازد. ما در تهیه غذای نیکان با بیش
          از ۶۰ سال تجربه به همراه شش شعبه در استان های تهران، البرز و مازندران
          همواره افتخار داریم در محیطی اصیل بر پایه معماری و طراحی مدرن، متناسب
          با هر نوع سلیقه و ذائقه‌ای با تکیه بر مهارت آشپزان و مهمانداران آموزش
          دیده و امکانات رفاهی کم نظیر همچون، پارکینگ اختصاصی، سالن VIP، خانه
          بازی کودکان و … در قالب سالن های پذیرایی کلاسیک، آلاچیق در فضای باز
          مجزا و کافی شاپ، میزبان محافل دوستانه و کاری، جشن ها و مراسم های شما
          عزیزان باشیم تا اوقاتی خوش را در کنار یکدیگر تجربه نمایید.
        </p>
      </div>
      <div class="col-md-6">
        <div class="top-img">
          <img
            src="../../../assets/img/about/about-us-1.jpg"
            class="w-48"
            alt=""
          />
          <img
            src="../../../assets/img/about/about-us-2.jpg"
            class="w-48"
            alt=""
          />
        </div>
        <img
          src="../../../assets/img/about/about-us-3.jpg"
          class="w-100"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="services px-md-5 py-md-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-md-3 service-box">
        <span class="material-icons"> request_quote </span>
        <div>
          <h4>بهترین قیمت</h4>
          <p>مناسب ترین قیمت در منطقه</p>
        </div>
      </div>
      <div class="col-6 col-md-3 service-box">
        <span class="material-icons"> support_agent </span>
        <div>
          <h4>بهترین خدمات</h4>
          <p>بهترین خدمات در منطقه</p>
        </div>
      </div>
      <div class="col-6 col-md-3 service-box">
        <span class="material-icons"> dinner_dining </span>
        <div>
          <h4>بهترین طعم</h4>
          <p>خوش مزه ترین در منطقه</p>
        </div>
      </div>
      <div class="col-6 col-md-3 service-box">
        <span class="material-icons"> verified </span>
        <div>
          <h4>بهترین کیفیت</h4>
          <p>مرغوب ترین مواد اولیه در منطقه</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row flex-row-reverse d-flex d-flex align-items-center">
      <div class="col-md-6 read-more">
        <h4>پخت توسط بهترین آشپزهای منطقه</h4>
        <p class="pt-3">
          ما از بهترین آشپزها استفاده میکنیم تا بهترین طعم را برای شما به ارمغان
          آوریم
        </p>
        <ul>
          <li>
            <span class="material-icons"> check_circle </span> تضمین طعم دلنشین
          </li>
          <li>
            <span class="material-icons"> check_circle </span>پخت و ارسال سریع
          </li>
          <li>
            <span class="material-icons"> check_circle </span>
            تضمین بهداشت هنگام پخت و ارسال
          </li>
        </ul>
        <a class="btn">منو سفارش</a>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/img/about/about-us-4.jpg"
          class="w-100"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
