@import "./assets/styles/paginnation.scss";
@font-face {
    font-family: irsans;
    src: url(assets/fonts/Kalameh-Regular.ttf);
}

aside{
    z-index: 999;
}
main{
    z-index: 1;
}
body{
    font-family: 'irsans', cursive;
}

.toast-container{
    font-size: 0.9rem;
}
