<section class="my-account p-3 p-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 p-md-5">
        <div class="row">
          <div class="col-md-6 px-md-5 pt-3 bl-3">
            <h2>ورود</h2>
             <form>
              
                <div class="my-3">
                  <label class="form-label">ایمیل</label>
                  <input
                    type="email"
                    class="form-control"
                    required
                    placeholder="آدرس ایمیل"
                  />
                </div>
                <div class="my-3">
                  <label class="form-label">رمز عبور</label>
                  <input
                    type="password"
                    class="form-control"
                    required
                    placeholder="رمز عبور"
                  />
                </div>
        
              <button class="btn mt-3">ورود</button>
            </form>
          </div>
          <div class="col-md-6 px-md-5 pt-3">
            <h2>عضویت</h2>
            <form>
              <div class="row">
                <div class="col-md-6 my-3">
                  <label class="form-label">نام</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    placeholder="نام شما"
                  />
                </div>
                <div class="col-md-6 my-3">
                  <label class="form-label">نام خانوادگی</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    placeholder="نام خانوادگی شما"
                  />
                </div>
                <div class="col-md-6 my-3">
                  <label class="form-label">ایمیل</label>
                  <input
                    type="email"
                    class="form-control"
                    required
                    placeholder="ایمیل شما"
                  />
                </div>
                 <div class="col-md-6 my-3">
                  <label class="form-label">رمز عبور</label>
                  <input
                    type="password"
                    class="form-control"
                    required
                    placeholder="رمز عبور"
                  />
                </div>
                <div class="col-md-12 my-3">
                  <label class="form-label">آدرس</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    placeholder="آدرس شما"
                  />
                </div>
                
            
              </div>
                <button class="btn mt-3">عضویت</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
